@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Space Mono:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Italiana:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  overflow-x: hidden !important;
  background: url(https://imagedelivery.net/jwHiTPdD9NSTNd6dIleh1A/152a31d8-3c8d-4194-9085-57329d1b4600/public), #22233a;
  background-size: 50px 50px;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: url(https://imagedelivery.net/jwHiTPdD9NSTNd6dIleh1A/152a31d8-3c8d-4194-9085-57329d1b4600/public), #22233a;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #80e3f9, #cc92fc);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
.hidden {
  overflow: hidden !important;
}
