@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Space Mono:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Italiana:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,400;1,700&display=swap");

body {
  background-color: #22233a;
  margin: 0;
  /*   overflow: hidden; */
}

body::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #80e3f9, #cc92fc);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
}
p {
  margin: 0;
}
