@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Space Mono:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Italiana:ital,wght@0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --cursor-color: #7086ae;
  --cursor-width: 2px;
}

$teal: #4fdaf8;
$pink: #ff9cae;
$purple: #cc92fc;
$blue: #80aafc;
$lightBlue: #9aa8d1;
$darkBlue: #7086ae;

$largeFont: calc(25px + 1.5vh + 1.5vw);
$mediumFont: calc(17px + 1.5vh + 1.5vw);
$smallFont: calc(16px + 0.7vh + 0.7vw);
$smallerFont: calc(13px + 0.6vh + 0.6vw);

$titleFont: "Italiana";
$titleWeight: 600;
$textFont: "Roboto";
$textWeight: 100;
