@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Space Mono:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Italiana:ital,wght@0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --cursor-color: #7086ae;
  --cursor-width: 2px;
}

$teal: #7df9ff;
$pink: #ff9cae;
$purple: #cc92fc;
$lightPurple: #cf98fb;
$blue: #80aafc;
$evenLighterBlue: #b0bee7;
$lightBlue: #9aa8d1;
$darkBlue: #7086ae;
$green: #bdd56e;

$xsmall: calc(5px + 0.35vh + 0.35vw);
$servicesFont: calc(8px + 0.4vh + 0.4vw);
$small: calc(9px + 0.5vh + 0.5vw);
$medium: calc(13px + 0.6vh + 0.6vw);
$large: calc(20px + 1.25vh + 1.25vw);

$thiner: 100;
$normal: 300;
$thick: 400;
$bold: 500;
$bolder: 600;

$title: "Italiana";
$content: "Roboto";

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  25% {
    transform: translateX(-50%) translateY(-65%);
  }
  50% {
    transform: translateX(-50%) translateY(-50%);
  }
  75% {
    transform: translateX(-50%) translateY(-35%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}
