:root {
  --cursor-color: #7086ae;
  --cursor-width: 2px;
}

$teal: #4fdaf8;
$pink: #ff9cae;
$purple: #cc92fc;
$blue: #80aafc;
$lightBlue: #c5d3fc;
$darkBlue: #7086ae;

$largeFont: calc(23px + 1vh + 1vw);
$smallFont: calc(14px + 0.7vh + 0.7vw);
